{% extends 'blog/base_qr.html' %}

{% block content %}
    <h2>QRリーダー入力</h2>
    <button type="button" id="btn-toggle">カメラ切替</button>
    <section id="contents">
      <!-- カメラ映像 -->
      <video id="camera" width="300" height="200" muted></video>

      <!-- 処理用 -->
      <canvas id="picture" width="300" height="200"></canvas>

      <!-- 読み取り結果 -->
      <div id="result">
        <small>※ここに読み取り結果が表示されます※</small>
      </div>

    </section>

    <form action="{% url 'post_Whmeter_qr' %}" method="POST">
      {% csrf_token %}
     <label>電力量計コード
       <input type="text" id="Whmeter" name="Whmeter" value="入力値">
     </label>
      <button type="submit" >送信</button>
    </form>


{% endblock %}
{% block extrajs %}
    <script>
  const video = document.querySelector("#camera");
  const canvas = document.querySelector("#picture");
//  const se     = document.querySelector('#se');
  let useFront = true;     // フロントカメラ:true, バックカメラ:false
  const ctx = canvas.getContext("2d");

  // 現在のStream
  var curSTREAM = null;
  /**カメラ設定*/
  const constraints = {
    audio: false,
    video: {
      width: 300,
      height: 200,
      facingMode: null  //"user"   // フロントカメラを利用する
    }
  };

  window.onload = () => {
    /**
     * カメラを<video>と同期
     */
     navigator.mediaDevices.getUserMedia(constraints)

    .then( (stream) => {
      video.srcObject = stream;
      video.onloadedmetadata = (e) => {
        video.play();

    // カメラと同期開始
//    syncCamera(video, useFront);
    useFront = !useFront;         // boolean値を反転

    //-------------------------------
    // [event] 切り替えボタン押下
    //-------------------------------
    document.querySelector("#btn-toggle").addEventListener("click", ()=>{
      syncCamera(video, useFront);
      useFront = !useFront;      // boolean値を反転
    });

        // QRコードのチェック開始

        checkPicture();

      };
    })
    .catch( (err) => {
      console.log(err.name + ": " + err.message);
    });
  };  //window.onloadの対


  /**
   * カメラを<video>と同期
   *
   * @param {object} video
   * @param {boolean} [is_front=true]
   */
function syncCamera(video, is_front=true){
    // 前後カメラの設定
    constraints.video.facingMode = (is_front)?  "user":{ exact: "environment" };

    // すでにカメラと接続していたら停止
    if( curSTREAM !== null ){
      curSTREAM.getVideoTracks().forEach( (camera) => {
        camera.stop();
      });
    }

    // カメラと接続する
    navigator.mediaDevices.getUserMedia(constraints)
      .then( (stream) => {
        curSTREAM = stream;   // 前後の切り替え用に保持

        // <video>とStremaを接続
        video.srcObject = stream;
        video.onloadedmetadata = (e) => {
          video.play();
        };
      })
      .catch( (err) => {
        console.log(`${err.name}: ${err.message}`);
        alert("カメラとの接続時にエラーが発生しました");
      });
  }

  /**
   * QRコードの読み取り
   */
  function checkPicture(){
    // カメラの映像をCanvasに複写
    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

    // QRコードの読み取り
    const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
    const code = jsQR(imageData.data, canvas.width, canvas.height);
//
    var mydiv =document.getElementById("result");

    //----------------------
    // 存在する場合
    //----------------------
    if( code ){
      // 結果を表示
      setQRResult("#result", code.data);  // 文字列
      //電力用追加
      document.getElementById("Whmeter").value = mydiv.innerHTML;  //

      drawLine(ctx, code.location);       // 見つかった箇所に線を引く

      // video と canvas を入れ替え
      canvas.style.display = 'block';
      video.style.display = 'none';
      video.pause();

    }
    //----------------------
    // 存在しない場合
    //----------------------
    else{
      // 0.3秒後にもう一度チェックする
      setTimeout( () => {
        checkPicture();
      }, 300);
    }
  }

  /**
   * 発見されたQRコードに線を引く
   *
   * @param {Object} ctx
   * @param {Object} pos
   * @param {Object} options
   * @return {void}
   */
  function drawLine(ctx, pos, options={color:"blue", size:5}){
    // 線のスタイル設定
    ctx.strokeStyle = options.color;
    ctx.lineWidth   = options.size;

    // 線を描く
    ctx.beginPath();
    ctx.moveTo(pos.topLeftCorner.x, pos.topLeftCorner.y);         // 左上からスタート
    ctx.lineTo(pos.topRightCorner.x, pos.topRightCorner.y);       // 右上
    ctx.lineTo(pos.bottomRightCorner.x, pos.bottomRightCorner.y); // 右下
    ctx.lineTo(pos.bottomLeftCorner.x, pos.bottomLeftCorner.y);   // 左下
    ctx.lineTo(pos.topLeftCorner.x, pos.topLeftCorner.y);         // 左上に戻る
    ctx.stroke();
  }

  /**
   * QRコードの読み取り結果を表示する
   *
   * @param {String} id
   * @param {String} data
   * @return {void}
   */
  function setQRResult(id, data){
    $(id).innerHTML = escapeHTML(data);
  }

  /**
   * jQuery style wrapper
   *
   * @param {string} selector
   * @return {Object}
   */
   function $(selector){
    return( document.querySelector(selector) );
  }

  /**
   * HTML表示用に文字列をエスケープする
   *
   * @param {string} str
   * @return {string}
   */
  function escapeHTML(str){
    let result = "";
    result = str.replace("&", "&amp;");
    result = str.replace("'", "&#x27;");
    result = str.replace("`", "&#x60;");
    result = str.replace('"', "&quot;");
    result = str.replace("<", "&lt;");
    result = str.replace(">", "&gt;");
    result = str.replace(/\n/, "<br>");

    return(result);
  }

    </script>
{% endblock %}
