{% extends 'blog/base2.html' %}

{% block content %}
    <h2>新規工程入力テスト2</h2>
    <form action="" method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
{% block extrajs %}
    <script>
      const campanyElement = $('#id_campany');
      const divisionElement = $('#id_division');
      const changeCategory = (select) => {
        divisionElement.children().remove();
        $.ajax({
          url: '{% url 'ajax_get_category' %}',
          type: 'GET',
          data: {
            'pk':campanyElement.val(),
          }
        }).done(response => {
          for(const division of response.divisionList){
            const option = $('<option>');
            option.val(division['pk']);
            option.text(division['name']);
            divisionElement.append(option);
          }
          if (select !== undefined) {
            divisionElement.val(select);
          }

        });

      };

      campanyElement.on('change', () => {
        changeCategory();
      });

      if (campanyElement.val()) {
        const selectedCategory = divisionElement.val();
        changeCategory(selectedCategory);
      }

    </script>
{% endblock %}
