{% extends 'blog/base_meterReading.html' %}

{% block content %}
    <h2>月間新規入力</h2>

    <form action="{% url 'post_meterReading_monthly' %}" method="POST">
      {% csrf_token %}
     <label>積算年　：
       <input type="text" id="count_year" name="count_year" value="2021">
     </label><br>
     <label>積算月　：
       <input type="text" id="count_month" name="count_month" value="0">
     </label>
      <button type="submit" >送信</button>
    </form>

{% endblock %}
{% block extrajs %}
{% endblock %}
