{% extends 'blog/base_request.html' %}

{% block content %}
    <h1>工事区分マスタ</h1>
    <h4><a href="{% url 'post_failuretype_new' %}">新規追加</a></h4>
      <table border="1">
            <tr align="center">
                 <th width="30">ID</th>
                 <th width="200">故障区分名</th>
            </tr>

            {% for post in posts %}

                    <tr align="center">
                      <td>{{ post.id}}</td>
                      <td><a href="{% url 'post_failuretype_detail' pk=post.pk %}">{{ post.name }}</a></td>
                    </tr>

            {% endfor %}

      </table>
{% endblock %}
