{% extends 'blog/base_request.html' %}

{% block content %}
    <div class="post">
      <a class="btn btn-default" href="{% url 'post_campany_edit' pk=post.pk %}">修正　<span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-default" href="{% url 'post_campany_remove' pk=post.pk %}">削除　<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
     <p> </p>
　　　<p>-----------------------------------------------------</p>
        <p>会社名　　：{{ post.name }}</p>
        <p>住所　　　：{{ post.address}}</p>
        <p>電話番号　：{{ post.telephon|linebreaksbr }}</p>
    </div>
{% endblock %}
