{% extends 'blog/base_request.html' %}

{% block content %}
    <div class="post">
      <a class="btn btn-default" href="{% url 'post_subprocess_edit' pk=post.pk %}">修正　<span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-default" href="{% url 'post_subprocess_remove' pk=post.pk %}">削除　<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
      <p> </p>
 　　　<p>-----------------------------------------------------</p>
        <p>設備コード名　　 ：{{ post.name }}</p>
        <p>設備コード　　　 ：{{ post.code }}</p>
        <p>設備コードMESCO：{{ post.codeM }}</p>
        <p>会社　　　　　　　：{{ post.campany.name }}</p>
        <p>部門　　　　　　　：{{ post.division.name }}</p>
        <p>工程　　　　　　　：{{ post.process.name|linebreaksbr }}</p>
    </div>
{% endblock %}
