{% extends 'blog/base_request.html' %}

{% block content %}
    <div class="post">
      <a class="btn btn-default" href="{% url 'post_process_edit' pk=post.pk %}">修正　<span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-default" href="{% url 'post_process_remove' pk=post.pk %}">削除　<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
      <p> </p>
 　　　<p>-----------------------------------------------------</p>
        <p>工程名　：{{ post.name }}</p>
        <p>Tag　　 ：{{ post.tag }}</p>
        <p>会社　　：{{ post.campany.name }}</p>
        <p>部門　　：{{ post.division.name|linebreaksbr }}</p>
    </div>
{% endblock %}
